body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-color: #e9e9eb;
    display:grid;
    grid-template-columns: 300px auto 400px;
    column-gap: 50px;
    grid-template-areas:'foto nombre nombre'
                        'foto linea linea'
                        'foto resumen aptitudes'
                        'contacto historial-personal historial-personal'
                        'referido historial-academico historial-academico'
                        'referido extensivo extensivo'
}
:root{
    font-size: 18px;
}
.foto {
    grid-area: foto;
}
.nombre{
    grid-area: nombre;
}
.linea{
    grid-area: linea;
}
.historial.personal{
    grid-area: historial-personal;
}
.resumen{
    grid-area: resumen;
}
.aptitudes{
    grid-area: aptitudes;
}
.historial.academico{
    grid-area:historial-academico
}
.contacto{
    grid-area: contacto;
}
.referido{
    grid-area: referido;
}
.extensivo{
    grid-area: extensivo;
}

/*********************/
body>*{
    border: 0px solid #000;
    color: #e46a3a;
}
.foto{
    overflow: hidden;
}
section.foto>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    transition: 1s;
}
section.foto>img:hover{
    /*border: 8px double #000;*/
}
img:hover{
    transform: scale(1.1);
}




.nombre,.historial>h2,
.aptitudes>h2, 
.resumen>h2, h3{
    /*color: #e46a3a;*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nombre {
    font-size: 2rem;
}
.nombre h1{
    margin: 0;
}

.nombre p{
    margin: 0;
}

.linea {
    background-color: #e46a3a;
    height: 3px;
}

section.contacto, section.referido{
    color: #fff;
    background-color: #e46a3a;
}

h2{
    font-size: 1.8rem;
}



/*
.historial-lista>li{
    display: grid;
    gap: 50px;
    grid-template-columns: 200px 200px 200px;
    grid-template-areas:'title title parraf'
                        'fecha fecha parraf';
}
.historial-lista-title{
    grid-area: title;
}
.historial-lista-fecha{
    grid-area: fecha;
}
.historial-lista-parraf{
    grid-area: parraf;
}
*/

.historial-lista-fecha{
    /*font-size: 1.2rem;*/
}

.historial-lista>li {
    list-style:none;
}
.historial-lista>li>ul {
    list-style:disc;
}
.historial-lista>li>ul, .academico .historial-lista>li{
    margin-bottom: 35px;
}


.contacto {
    padding: 0 35px;
}
.referido {
    padding: 0 35px;
    margin-top: -200px;
}
a{
    color: #fff;
}

/************************************/
.contacto-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: 0.5s;
}

.contacto-item>img{
    transition: 0.4s;
}
.contacto-item>img:hover{
    transform: rotate(360deg) scale(1.3);
}

.icono.location {
    width: 30px;
    height: 30px;
}

.icono.mail {
    height: 30px;
    width: 25px;
}

.icono.tel {
    height: 20px;
    width: 20px;
}

.icono.linkedin {
    height: 30px;
    width: 30px;
}


.historial-lista>li,
.aptitudes>ul,
p{
    position: relative;
    transition: 1s;
    /*opacity: 0.85;*/
    left: 0;
}
.historial-lista>li:hover{
    /*color: rgb(0, 0, 0);*/
    /*text-shadow: 0px 0px 1px rgb(71, 71, 71);*/
    left: 7px;
    opacity: 1;
}
/*
.referido:hover p{
    text-decoration: underline;
}*/

.referido>p::before{
    content: ">> ";
}

.referido>ul{
    margin-bottom: 40px;
}
.referido>p{
    font-weight: bold;
}





:root {
  --color-dark:  #323232;
  --color-snow: #ffffff;
  --color-smoke: #ffffff;
  --borderRadius: 36px;
  /*color: #323233*/
}

/*********************************************/
.button {
    margin: 10px;
    padding: 12px 12px;
  
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;

    border: 0 none;
    border-radius: var(--borderRadius);

    font-size: 1rem;
    line-height: 1.3;
    transition: 0.5s;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    box-shadow: 0px 1px 2px var(--color-smoke);
}  

.button.-dark {
    color: var(--color-snow);
    background: var(--color-dark);
  }

.button:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 6px var(--color-smoke);
}
a{
    text-decoration: none;
}




@keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }


  .nombre{
      animation-name: tracking-in-expand-fwd-top;
      animation-duration: 1.5s;
  }



@media screen and (max-width: 768px){
    body{
        column-gap: 0px;
        grid-template-columns: 40% 60%;
        grid-template-areas:'foto nombre'
                        'foto nombre'
                        'resumen resumen'
                        'aptitudes aptitudes'
                        'historial-personal historial-personal'
                        'historial-academico historial-academico'
                        'extensivo extensivo'
                        'contacto contacto'
                        'referido referido'
    }
    /*.foto{
        width: 400px;
        height: 350px;
        object-position:bottom;
    }*/
    .nombre{
        background-color: #e46a3a;
        color: #fff;
        padding-left:15px ;
    }
    h1{
        font-size: 2.5rem;
        padding: 15px 0;
    }
    .nombre>p{
        font-size: 1.5rem;
    }
    section{
        padding: 0 15px;
    }
    section.foto,section.nombre{
        padding: 0;
    }
    .foto{
        padding-left: 0px;
    }
    .referido {
        padding: 50px 15px;
        margin-top: 0px;
    }
    .contacto{
        padding: 0 15px;
    }
    h2{
        font-size: 1.5rem;
    }
}
